body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.global {
  background-color: rgba(255, 238, 0, 0.8);
}

header {
  background-color: rgba(255, 0, 0, 0.515);
  display: flex;
  justify-content: center;
  padding: 50px;
}

.pokemonDiv img {
  width: fit-content;
  height: auto;
}

.pokemonDiv p{
  display: flex;
  align-items: stretch;
  width: auto;
}

.pokemonDiv {
  display: flex;
  flex-direction: column;
  background-color: rgba(197, 195, 195, 0.4);
  border: 10px solid rgb(255, 196, 0);
  border-radius: 10px;
  flex-basis: 10%;
  flex-grow: 1;
  margin: 1em;
  padding: 1em;
  align-items: center;
  justify-content: space-between;
  max-width: 12em;
  min-width: 8em;
}

.pokedexDiv {
  display: flex;
  flex-wrap: wrap;
}
