body
{
    background-color:rgb(46, 139, 87,0.4);
}
.bordas_claras
{
}
.flutuar_direita
{
    float: right;
}
.nao_passar_floats
{
    clear: both;
}
.centralizarTexto
{
    text-align: center;
}
.background_header
{
    background-color: wheat;
}
.background_footer
{
    background-color: wheat;
}
.main_background{
    background-color: wheat;
}
.background_fact{
    background-color: whitesmoke;
}