body
{
    background-color:rgb(46, 139, 87,0.4);
}
.bordas_claras
{
    border-style: solid ;
    border-color: red;
}
.flutuar_direita
{
    float: right;
}
.nao_passar_floats
{clear: both;
}
.centralizar
{
    text-align: center;
}
.background_header
{
    font: green;
}